// base specific params

params{
    // Boilerplate to keep nextflow happy about undefined vars
    profile = false
    ivar = false
    bwa = false
    prefix=false
    ref = false
    tsv = false
    fasta = false
    vcf = false
    seq = false
    meta = false
    variants = false
    skip_pangolin = false
    skip_mapping = false
    skip_preprocessing = false
    skip_variantcalling = false
    skip_annotation = false
    skip_surveillance = false
    userfile = false
    viruseq_meta = false
    skip_postprocessing = false
    skip_viralai = false
    skip_permissions = false
}
