process {
    withName: 'extractVariants|extractMetadata|SEQKIT|BBMAP|SEQKITSTATS|MINIMAP2|FREEBAYES|SNPEFF|VCFTOGVF|surveillanceRawTsv|surveillancePDF' {
        conda = "$baseDir/environments/environment.yml"
    }
    withName: vcfTotsv {
        conda = "$baseDir/environments/extras.yml"
    }
    withName: TAGPROBLEMATICSITES_NCOV {
        conda = "$baseDir/environments/extras.yml"
    }
    withName: ANNOTATEMATPEPTIDES_NCOV {
        conda = "$baseDir/environments/extras.yml"
    }
    withName: VIRALAIMETADATA {
        conda = "$baseDir/environments/viralai.yml"
    }
    withName: VIRALAIFASTA {
        conda = "$baseDir/environments/viralai.yml"
    }
}
