process {
    withName: 'extractVariants|extractMetadata|SEQKIT|BBMAP|SEQKITSTATS|MINIMAP2|FREEBAYES|SNPEFF|vcfTogvf|surveillanceRawTsv|surveillancePDF' {
        conda = "$baseDir/environments/environment.yml"
    }
    withName: vcfTotsv {
        conda = "$baseDir/environments/extras.yml"
    }
    withName: tagProblematicSites {
        conda = "$baseDir/environments/extras.yml"
    }
    withName: annotate_mat_peptide {
        conda = "$baseDir/environments/extras.yml"
    }
    withName: VIRALAIMETADATA {
        conda = "$baseDir/environments/viralai.yml"
    }
    withName: VIRALAIFASTA {
        conda = "$baseDir/environments/viralai.yml"
    }
}
