/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for Eagle
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run main.nf -profile eagle,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'eagle'
    config_profile_description = 'eagle'

    // Define max resource allocations based on available compute resources on Eagle
    max_cpus   = 8
    max_memory = '12.GB'
    max_time   = '6.h'

}

process {
    clusterOptions = { "--account=def-sponsor00"  }
    executor = 'slurm'

    withName: 'DOWNLOAD_VIRALAI_METADATA' {
    memory = '16 GB'  // Increase this value as needed
    }
    withName: 'PROCESS_VIRALAI_METADATA' {
    memory = '16 GB'  // Increase this value as needed
    }
    withName: 'METADATA_HARMONIZER' {
    memory = '16 GB'  // Increase this value as needed
    }
    withName: 'EXTRACTVARIANTS' {
    memory = '16 GB'  // Increase this value as needed
    }
    withName: 'EXTRACTMETADATA' {
    memory = '16 GB'  // Increase this value as needed
    }
    withName: 'MINIMAP2_ALIGN' {
    memory = '32 GB'  // Increase this value as needed
    }
    withName: 'SAMTOOLS_SORT' {
    memory = '16 GB'  // Increase this value as needed
    }
    withName: 'SAMTOOLS_STATS' {
    memory = '16 GB'  // Increase this value as needed
    }
    withName: 'FREEBAYES' {
    memory = '84 GB'  // Increase this value as needed
    }
    withName: 'MERGE_LOGFILES' {
    memory = '32 GB'  // Increase this value as needed
    }
    withName: 'MERGE_INDICES' {
    memory = '32 GB'  // Increase this value as needed
    }
    
}

executor {
    queueSize = 64
}
