/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for Eagle
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run main.nf -profile eagle,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'eagle'
    config_profile_description = 'eagle'

    // Define max resource allocations based on available compute resources on Eagle
    max_cpus   = 8
    max_memory = '12.GB'
    max_time   = '6.h'

}

process {
    clusterOptions = { "--account=def-sponsor00"  }
    executor = 'slurm'
}

executor {
    queueSize = 64
}
