// workflow specific params

params {

    // Illumina sample prefixes - list of strings that prefix samples
    illuminaPrefixes = false

    // Composite bwa index folder (so that they don't have to be made each time)
    bwa_index = "$baseDir/.github/data/refdb"

    // Minimum mapping quality of covid reads to keep
    keep_min_map_quality = 60

    // Minimum mapping quality of the human reads to remove
    remove_min_map_quality = 0

    // Mpileup depth for ivar (although undocumented in mpileup, setting to zero removes limit)
    mpileupDepth = 0

    // iVar frequency threshold for consensus variant (ivar consensus: -t)
    var_FreqThreshold = 0.75

    // Minimum coverage depth to call variant (ivar consensus: -m; ivar variants -m)
    var_MinDepth = 10

    // iVar frequency threshold to call variant (ivar variants: -t )
    var_MinFreqThreshold = 0.25

    // iVar minimum mapQ to call variant (ivar variants: -q)
    var_MinVariantQuality = 20

    // Starting date to extractdataset (yyyy-mm-dd)
    startdate = "2021-04-01"

    // Ending date to extractdataset (yyyy-mm-dd)
    enddate = "2021-04-10"

}
