// workflow specific params

params {


    // Instead of indexing the reference file in the scheme repo, the prefix
    // of previously-created reference index files.
    // (With these defined, none of the scheme* variables will be used.)
    ref = "$baseDir/.github/data/refdb"

    // output prefixes - list of strings that prefix samples
    prefix = false

    // Composite bwa index folder (so that they don't have to be made each time)
    bwa_index = "$baseDir/.github/data/refdb"

    // Minimum mapping quality of covid reads to keep
    keep_min_map_quality = 60

    // Minimum mapping quality of the human reads to remove
    remove_min_map_quality = 0

    // Mpileup depth for ivar (although undocumented in mpileup, setting to zero removes limit)
    mpileupDepth = 100000

    // iVar frequency threshold for consensus variant (ivar consensus: -t)
    var_FreqThreshold = 0.75

    // Minimum coverage depth to call variant (ivar consensus: -m; ivar variants -m)
    var_MinDepth = 1

    // Downsample per-sample coverage to this level if greater than this coverage (default: no limit)
    var_downsample = 100000

    // iVar frequency threshold to call variant (ivar variants: -t )
    var_MinFreqThreshold = 0.10

    // iVar minimum mapQ to call variant (ivar variants: -q)
    var_MinVariantQuality = 20

    // Variants with frequency less that this will be discarded (gvcf processing: -l)
    lower_ambiguityFrequency = 0.10

    // Substitution variants with frequency less than this will be encoded with IUPAC ambiguity codes (gvcf processing: -u)
    upper_ambiguityFrequency = 0.75

    // Starting date to extractdataset (yyyy-mm-dd)
    startdate = false

    // Ending date to extractdataset (yyyy-mm-dd)
    enddate = false


}
