// workflowSpecificParameters

params {

    /*
    ============================================================================
    nf-ncov-voc Nextflow base config file
    ============================================================================
    */


    /*
    ----------------------------------------------------------------------------
    extractMetadata parameters
    ----------------------------------------------------------------------------
    */

    startdate = 2020-01-01
    enddate = 2022-12-31


    /*
    ----------------------------------------------------------------------------
    BBMAP (QC) parameters
    ----------------------------------------------------------------------------
    */

    maxns=1450
    minlength=29000

    /*
    ----------------------------------------------------------------------------
    Mapping parameters
    ----------------------------------------------------------------------------
    */

    ref = "$baseDir/.github/data/refdb"


    /*
    ----------------------------------------------------------------------------
    Variant Calling parameters
    ----------------------------------------------------------------------------
    */
    //Freebayes: ploidy
    ploidy=1

    // iVar: -t ; Freebayes: -F
    var_MinFreqThreshold = 0

    // iVar: -m ;Freebayes: -C; processGVCF -d
    var_MinDepth=1

    // iVar: -d
    var_MaxDepth=0

    // setting to zero removes limit
    mpileupDepth = 100000

    // iVar consensus: -t
    var_FreqThreshold = 0.75

    // iVar variants: -q
    var_MinVariantQuality = 20

    // processGVCF: -l
    lower_ambiguityFrequency = 0

    // processGVCF: -u
    upper_ambiguityFrequency = 1


}
