// workflowSpecificParameters

params {

    /*
    ============================================================================
    nf-ncov-voc base parameters
    ============================================================================
    */
    publish_dir_mode        = "copy"
    skip_permissions        = true
    skip_configuration      = false
    virus_accession_id      = "NC_045512.2"
    seq                     = null 
    meta                    = null
    mode                    = "reference"
    wastewater              = false
    mpox                    = false
    viralai                 = false

    /*
    ----------------------------------------------------------------------------
    VIRUS-MVP configuration parameters
    ----------------------------------------------------------------------------
    */
    
    viral_gbk               = "$baseDir/assets/virus_genomeFeatures/NC_045512.2/NC_045512.2.gbk"
    viral_gff               = "$baseDir/assets/virus_genomeAnnotation/NC_045512.2/NC_045512.2.gff"
    mutation_indexfile      = "$baseDir/assets/virus_mutation_index/NC_045512.2/mutation_index.tsv"
    config                  = "$baseDir/assets/config.ini"
    //gene_alias              = "$baseDir/assets/virus_genomeAnnotation/NC_045512.2/NC_045512.2_key.json"

    /*
    ----------------------------------------------------------------------------
    Wastewater parameters
    ----------------------------------------------------------------------------
    */

    input                   = null
    // primer scheme options
    schemeRepoURL           = 'https://github.com/artic-network/primer-schemes.git'
    schemeDir               = 'primer-schemes'
    scheme                  = 'nCoV-2019'
    schemeVersion           = 'V5.3.2'
    // QC options
    skip_fastp              = false
    adapter_fasta           = null
    save_trimmed_fail       = true
    save_merged             = false
    skip_dehosting          = false
    // dehosting options
    dehosting_aligner       = 'bwa'
    host_genome             = "$baseDir/assets/host_genome/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna"
    host_genome_id          = 'GRCh38'
    // mapping options
    viral_aligner           = 'minimap2'
    viral_genome            = "$baseDir/assets/virus_referenceGenome/NC_045512.2/NC_045512.2.fasta"
    viral_genome_fai        = "$baseDir/assets/virus_referenceGenome/NC_045512.2/NC_045512.2.fasta.fai"
    // bwa options
    bwa_sort_bam            = 'sort'
    // minimap2 options
    bam_format              = true
    cigar_paf_format        = false
    cigar_bam               = false
    // samtools options
    interleaved             = false
    // freyja options
    db_name                 = "freyja_db"
    freyja_boot_depthcutoff = 0

    /*
    ----------------------------------------------------------------------------
    ViralAi parameters
    ----------------------------------------------------------------------------
    */

    collections_api_url     = "https://viral.ai/api/"
    collections_drs_url     = "https://viral.ai/"
    collection_slug_name    = "virusseq"
    limit                   = "1"    

    /*
    ----------------------------------------------------------------------------
    Pre-processing parameters
    ----------------------------------------------------------------------------
    */

    variant                 = "$baseDir/assets/virus_variants/NC_045512.2/variants_classification.tsv"
    grouping_criteria       = "lineage"
    start_date              = 2020-01-01
    end_date                = 2024-12-31
    variable                = null
    skip_harmonize          = false
    metadata_config         = "$baseDir/assets/metadata_conf/metadata.yaml"
    metadata_source         = "ViralAi_EpiCoV"

    // ViralAi parameters
    virusseq_update         = false
    skip_variantparsing     = false
    viralai_update          = false
    
    /*
    ----------------------------------------------------------------------------
    Classification parameters
    ----------------------------------------------------------------------------
    */

    skip_classification     = true
    skip_pangolin           = true
    skip_nextclade          = true
    
    /*
    ----------------------------------------------------------------------------
    QC parameters
    ----------------------------------------------------------------------------
    */

    skip_qc                 = false
    maxns                   = 1450
    minlength               = 29000

    /*
    ----------------------------------------------------------------------------
    Variant Calling parameters
    ----------------------------------------------------------------------------
    */
    
    //Freebayes: ploidy
    ploidy                  = 1
    // iVar: -t ; Freebayes: -F
    var_MinFreqThreshold    = 0.005
    // iVar: -m ;Freebayes: -C; processGVCF -d
    var_MinDepth            = 1
    // iVar: -d
    var_MaxDepth            = 0
    // setting to zero removes limit
    mpileupDepth            = 100000
    // iVar consensus: -t
    var_FreqThreshold       = 0.75
    // iVar variants: -q
    var_MinVariantQuality   = 20
    // processGVCF: -l
    lower_ambiguityFrequency= 0
    // processGVCF: -u
    upper_ambiguityFrequency= 1

    /*
    ----------------------------------------------------------------------------
    Annotation parameters
    ----------------------------------------------------------------------------
    */

    // problematic SARS-COV-2 sites
    probvcf                 = "$baseDir/assets/virus_problematicSites/NC_045512.2/problematic_sites_sarsCov2.vcf"
    funcannot               = "$baseDir/assets/virus_functionalAnnotation/NC_045512.2/Pokay_functionalAnnotation_SARSCoV2_v4.2.tsv"
    surveillance_indicators = "$baseDir/assets/virus_surveillanceIndicators/functions_df_template.tsv"
    skip_problematics_sites = false
    skip_peptide_annottaion = false
    genecoord               = "$baseDir/assets/virus_geneCoordinates/NC_045512.2/NC_045512.2.json"
    skip_splitting_mutations= false
    mutationsplit           = "$baseDir/assets/ncov_multiNames/mutation_names_to_split.tsv"
    skip_SNPEFF             = false
    skip_functionalannotation = false
    skip_variantannotation = false
    skip_surveillance    = false

    /*
    ----------------------------------------------------------------------------
    Post-processing parameters
    ----------------------------------------------------------------------------
    */
    
    skip_postprocessing     = false
    mutation_indexfile      = null

    /*
    ----------------------------------------------------------------------------
    Surveillance parameters
    ----------------------------------------------------------------------------
    */
    
    
    
}
